<table width="100%" data-sly-use.comp="com.aditya.wp.aem.components.config.ComponentConfigValuesC1">
    <thead>
        <tr>
            <td width="33%">Name</td>
            <td width="33%">Locale Value</td>
            <td width="33%">Inheritance Value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Image Path:</td>
            <td>${comp.imagePath}</td>
            <td>${comp.inheritedImagePath}</td>
        </tr>
        <tr>
            <td>Max. loading time:</td>
            <td>${comp.loadTime}</td>
            <td>${comp.inheritedLoadTime}</td>
        </tr>
        <tr>
            <td>Cookie expire time:</td>
            <td>${comp.cookieExpireTime}</td>
            <td>${comp.inheritedCookieExpireTime}</td>
        </tr>
        <tr>
            <td>Publishing HTTP Host:</td>
            <td>${comp.httpHost}</td>
            <td>${comp.inheritedHttpHost}</td>
        </tr>
        <tr>
            <td>Publishing HTTPS Host:</td>
            <td>${comp.httpsHost}</td>
            <td>${comp.inheritedHttpsHost}</td>
        </tr>
    </tbody>
</table>
